body{
    font-family: sans-serif
}
p {
    color: #FF00FF;
}
h2 ,h3, h4 {
    color:antiquewhite;
    background-color: pink;
}

h1 {
    background-color: red;
    margin: 20px;
    padding: 40px;
}

#intro {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
}

.spotlight{
    background-color: yellow;
}